<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Adventora</title>
    <meta name="title" content="Adventora"/>
    <meta name="description"
          content="Adventora is a booking website based, operated, and focused on Bulgarian tourism. You can book your vacation in Bulgaria right here and right now!"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://adventora.net"/>
    <meta property="og:title" content="Adventora"/>
    <meta property="og:description"
          content="Adventora is a booking website based, operated, and focused on Bulgarian tourism. You can book your vacation in Bulgaria right here and right now!"/>
    <meta property="og:image" content="https://metatags.io/images/meta-tags.png"/>
    <meta property="twitter:card" content="summary_large_image"/>
    <meta property="twitter:url" content="https://adventora.net"/>
    <meta property="twitter:title" content="Adventora"/>
    <meta property="twitter:description"
          content="Adventora is a booking website based, operated, and focused on Bulgarian tourism. You can book your vacation in Bulgaria right here and right now!"/>
    <meta property="twitter:image" content="https://metatags.io/images/meta-tags.png"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <style>
        /* Custom styling for the footer */
        .footer {
            background-color: #f4f4f4;
            padding: 3rem 0;
        }

        .footer .content {
            margin-bottom: 1.5rem;
        }

        .footer p {
            margin-bottom: 1.5rem;
        }

        .footer .footer-links {
            margin-top: 1.5rem;
            display: flex;
            justify-content: center;
        }

        .footer-links a {
            color: #333;
            text-decoration: none;
            transition: color 0.3s ease;
            padding: 0.5rem 1rem;
        }

        .footer-links a:hover {
            color: #6a0dad;
        }
    </style>
</head>
<body>
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src="{% static 'img/logo/adv-redplane-transparent.png' %}" alt="Adventora logo">
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/">
                Home
            </a>


            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    More
                </a>

                <div class="navbar-dropdown">
                    <a class="navbar-item">
                        About
                    </a>
                    <a class="navbar-item">
                        Jobs
                    </a>
                    <a class="navbar-item">
                        Contact
                    </a>
                    <hr class="navbar-divider">
                    <a class="navbar-item">
                        Report an issue
                    </a>
                </div>
            </div>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    {#                    if authed#}
                    {% if user.is_authenticated %}
                        {% if user.is_staff == True %}
                            <a class="button is-warning" href="/admin">
                            <strong>Админ</strong>
                        </a>
                            {% endif %}
                        <a class="button is-info" href="{% url 'edit-profile' %}">
                            <strong>Профил</strong>
                        </a>
                        <a class="button is-danger" href="{% url 'logout' %}">
                            <strong>Изход</strong>
                        </a>
                    {% else %}

                        <a class="button is-primary" href="{% url 'sign-up' %}">
                            <strong>Регистрация</strong>
                        </a>
                        <a class="button is-light" href="{% url 'sign-in' %}">
                            Вход
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</nav>


{% if messages %}
    {% for message in messages %}

        {% if message.tags == 'error' %}
            <article class="message is-danger">
                <div class="message-header">
                    <p>Грешка</p>
                    {#                    on click delete the parent article#}
                    <button class="delete" aria-label="delete"
                            onclick="this.parentElement.parentElement.remove();"></button>
                </div>
                <div class="message-body">
                    {{ message }}
                </div>
            </article>
        {% elif message.tags == "success" %}
            <article class="message is-success">
                <div class="message-header">
                    <p>Успех</p>
                    <button class="delete" aria-label="delete"
                            onclick="this.parentElement.parentElement.remove();"></button>
                </div>
                <div class="message-body">
                    {{ message }}
                </div>
            </article>
        {% elif message.tags == "warning" %}
            <article class="message is-warning">
                <div class="message-header">
                    <p>Предупреждение</p>
                    <button class="delete" aria-label="delete"
                            onclick="this.parentElement.parentElement.remove();"></button>
                </div>
                <div class="message-body">
                    {{ message }}
                </div>
            </article>
        {% endif %}
    {% endfor %}

{% endif %}

<br><br>

<div class="container is-fluid" style="min-height: 100vh !important; margin-bottom: 50px"> {% block content %} {% endblock %}
</div>


<footer class="footer is-fluid">
    <div class="container is-fluid">
        <div class="content has-text-centered is-fluid">

            <b><p>Adventora подкрепя малкия и среден бизнес.</p></b>
            <br>
            <p>&copy; 2023 Adventora. Всички права запазени.</p>

                <a style="margin-right: 10px" href="/">Начало</a>
                <a style="margin-right: 10px" href="/about-us">За нас</a>
                <a style="margin-right: 10px" href="/privacy">Поверителност</a>
                <a style="margin-right: 10px" href="/terms-of-use">Политика за използване</a>
                <a style="margin-right: 10px" href="/contacts">Контакти</a>
                <a style="margin-right: 10px" href="/partnerships">Партньорства</a>
        </div>
    </div>
</footer>


<script src="https://unpkg.com/htmx.org@1.9.4"></script>

</body>
</html>