<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load i18n %}
{% load sri %}
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/static/img/logo/adv-redplane-transparent.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Adventora</title>
    <meta name="title" content="Adventora"/>
    <meta name="description"
          content="Adventora is a booking website based, operated, and focused on Bulgarian tourism. You can book your vacation in Bulgaria right here and right now!"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://adventora.net"/>
    <meta property="og:title" content="Adventora"/>
    <meta property="og:description"
          content="Adventora is a booking website based, operated, and focused on Bulgarian tourism. You can book your vacation in Bulgaria right here and right now!"/>
    <meta property="og:image" content="https://metatags.io/images/meta-tags.png"/>
    <meta property="twitter:card" content="summary_large_image"/>
    <meta property="twitter:url" content="https://adventora.net"/>
    <meta property="twitter:title" content="Adventora"/>
    <meta property="twitter:description"
          content="Adventora is a booking website based, operated, and focused on Bulgarian tourism. You can book your vacation in Bulgaria right here and right now!"/>
    <meta property="twitter:image" content="https://metatags.io/images/meta-tags.png"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css"/>
    <script src="{% static 'js/main.js' %}"></script>
    <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <script src="https://challenges.cloudflare.com/turnstile/v0/api.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.3/dist/css/bulma-carousel.min.css">
    {% sri_static 'fontawesomefree/css/fontawesome.css' %}
    {% sri_static 'fontawesomefree/css/brands.css' %}
    {% sri_static 'fontawesomefree/css/solid.css' %}
    <style>
        /* Custom styling for the footer */
        .footer {
            background-color: #f4f4f4;
            padding: 3rem 0;
        }

        .footer .content {
            margin-bottom: 1.5rem;
        }

        .footer p {
            margin-bottom: 1.5rem;
        }

        .footer .footer-links {
            margin-top: 1.5rem;
            display: flex;
            justify-content: center;
        }

        .footer-links a {
            color: #333;
            text-decoration: none;
            transition: color 0.3s ease;
            padding: 0.5rem 1rem;
        }

        .footer-links a:hover {
            color: #6a0dad;
        }

        .image-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100px; /* Adjust the height as needed */
            margin: 10px;
            padding-top: 0;
        }

        .section {
            padding-top: 0;
            padding-bottom: 0;
        }

        .image-container img {
            max-width: 100%;
            max-height: 100%;
            object-fit: contain;
        }

        #cke_id_description {
            width: 100% !important;
            max-width: 100% !important;
        }

        .django-ckeditor-widget {
            width: 100% !important;
            max-width: 100% !important;
        }
    </style>
    {% block addhead %}

    {% endblock %}
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'hotel/css/main.min.css' %}">
    <style>
        .footer {
            padding: 3rem 1.5rem 6rem;
        }
    </style>
</head>
<body>


<nav class="navbar is-mobile navbar-center" role="navigation" aria-label="main navigation">


    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src="/static/img/logo/adv-redplane-transparent.png" style="height: 100%;">
        </a>

        <a role="button" class="navbar-burger navbur-span" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample" style="color: black !important;">
            <span aria-hidden="true" class="navbur-span"></span>
            <span aria-hidden="true" class="navbur-span"></span>
            <span aria-hidden="true" class="navbur-span"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/">
                <i class="fa-solid fa-house"></i>&nbsp; {% trans "Home" %}
            </a>
            <a class="navbar-item" href="/hotels">
                <i class="fa-solid fa-hotel"></i>&nbsp;{% trans "Hotels" %}
            </a>


        </div>



        <div class="navbar-end">
            <div class="navbar-item has-dropdown is-hoverable">
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}
                {% get_language_info for LANGUAGE_CODE as current_lang %}
            <style>
{#                distance from button right#}
                .language-button::after {
                    right: 0px !important;


                }
            </style>
                <a class="navbar-link language-button" id="languagebutton">
                    <img src="https://flagcdn.com/w40/{% if current_lang.code == "sv" %}se{% elif current_lang.code == "sr" %}rs{% elif current_lang.code == "uk" %}ua{% elif current_lang.code == "en" %}gb{% elif current_lang.code == "el" %}gr{% else %}{{ current_lang.code | lower }}{% endif %}.png"
                         alt="" class="image" style="border-radius: 25px; border: 1px solid black; width: 30px;">&nbsp;{{ current_lang.name_local | capfirst }}
                </a>
                <div class="navbar-dropdown is-boxed" style="pointer-events: none; display: none;">
                    {% for language in languages %}
                        <a class="navbar-item" style="color: #2f2f2f !important;" id="{{ language.code }}-CHANGER" onclick="loadinglanguageongoing('{{ language.code }}')"
                           hx-post="{% url 'set_language' %}" hx-include="this"
                           hx-swap="none">
                            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                            <input type="hidden" name="language" value="{{ language.code }}">
                            <img src="https://flagcdn.com/w40/{% if language.code == "sv" %}se{% elif language.code == "sr" %}rs{% elif language.code == "uk" %}ua{% elif language.code == "en" %}gb{% elif language.code == "el" %}gr{% else %}{{ language.code | lower }}{% endif %}.png"
                                 alt="" class="image" style="border-radius: 25px; border: 1px solid black; width: 30px;">
                            <span style="color: #2f2f2f !important;">&nbsp;{{ language.name_local | capfirst }}</span>

                        </a>
                    {% endfor %}
                    <script>
                        document.addEventListener('htmx:afterRequest', function (evt) {
                            window.location.reload();
                        });
                    </script>
                </div>
            </div>
            <style>
                .language-button::after {
                    transform: rotate(135deg) !important;
                }

                .language-button.rotate::after {
                    transform: rotate(-45deg) !important;
                }
            </style>
            <script>
                // when clicking on the dropdown, if closed, add is-active, change .navbar-dropdown to display block, and change opacity to 1, position to relative, and transform to translateY(0)
                // if open, remove is-active, change .navbar-dropdown to display none, and change opacity to 0, position to absolute, and transform to translateY(-5px)


                let dropdown = document.querySelector('.navbar-dropdown');
                let dropdownContent = document.querySelector('.navbar-dropdown.is-boxed');
                let dropdownButton = document.querySelector('.language-button');
                let after = document.querySelector('.language-button:after');

                dropdownButton.addEventListener('click', function () {
                    if (dropdown.classList.contains('is-active')) {
                        dropdown.classList.remove('is-active');
                        dropdownContent.style.display = 'none';
                        dropdownContent.style.opacity = '0';
                        dropdownContent.style.transform = 'translateY(-5px)';
                        dropdownContent.style.pointerEvents = 'none';

                        dropdownButton.classList.remove('rotate');
                    } else {
                        dropdown.classList.add('is-active');
                        dropdownContent.style.display = 'block';
                        dropdownContent.style.opacity = '1';
                        dropdownContent.style.transform = 'translateY(0)';
                        dropdownContent.style.pointerEvents = 'all';
                        dropdownButton.classList.add('rotate');
                    }
                });
            </script>
            <div class="navbar-item">
                <div class="buttons">

                    {% if not user.is_authenticated %}
                        <a class="button" href="/authentication/sign-up" style="border-radius: 100px">
                            <i class="fa-solid fa-user-plus" style="color: #2f2f2f"></i>
                        </a>
                        <a class="button" href="/authentication/sign-in" style="border-radius: 100px">
                            <i class="fa-solid fa-right-to-bracket" style="color: #2f2f2f"></i>
                        </a>
                    {% else %}
                        {% if request.user.role == "hotel_manager" %}
                        <a class="button" href="/hotel/dashboard" style="border-radius: 100px">
                            <i class="fa-solid fa-toolbox"></i>&nbsp;{% trans "Dashboard" %}
                        </a>
                        {% endif %}
                        {% if user.is_superuser == True and user.is_staff == True %}
                            <a class="button" href="/admin" style="border-radius: 100px; background-color: #ffdf00">
                                <i class="fa-solid fa-hammer" style="color: #2f2f2f"></i>
                            </a>
                        {% endif %}
                        <a class="button" href="/authentication/edit-profile" style="border-radius: 100px">
                            <i class="fa-solid fa-id-card" style="color: #2f2f2f"></i>
                        </a>
                        <a class="button" href="/authentication/logout" style="border-radius: 100px">
                            <i class="fa-solid fa-right-from-bracket" style="color: #2f2f2f"></i>
                        </a>

                    {% endif %}
                </div>
            </div>
        </div>
    </div>


</nav>

<br><br><br>


{% if messages %}
    {% for message in messages %}

        {% if message.tags == 'error' %}
            <article class="message is-danger">
                <div class="message-header">
                    <p>{% trans "Error" %}</p>
                    <button class="delete" aria-label="delete"
                            onclick="this.parentElement.parentElement.remove();"></button>
                </div>
                <div class="message-body">
                    {{ message }}
                </div>
            </article>
        {% elif message.tags == "success" %}
            <article class="message is-success">
                <div class="message-header">
                    <p>{% trans "Success" %}</p>
                    <button class="delete" aria-label="delete"
                            onclick="this.parentElement.parentElement.remove();"></button>
                </div>
                <div class="message-body">
                    {{ message }}
                </div>
            </article>
        {% elif message.tags == "warning" %}
            <article class="message is-warning">
                <div class="message-header">
                    <p>{% trans "Warning" %}</p>
                    <button class="delete" aria-label="delete"
                            onclick="this.parentElement.parentElement.remove();"></button>
                </div>
                <div class="message-body">
                    {{ message }}
                </div>
            </article>
        {% endif %}
    {% endfor %}

{% endif %}

<br><br>

<div class="container is-fluid" style="min-height: 100vh !important; margin-bottom: 50px">
    {% block content %} {% endblock %}
</div>

<hr class="is-black" style="background-color: rgba(119,119,119,0.49)">
<footer class="footer is-fluid">

    <div class="container is-fluid">
        <div class="content has-text-centered is-fluid">
            <b><p>{% trans "Adventora supports small, medium and large businesses" %}</p></b>
            <br>
            <section class="section">
                <div class="container">
                    <div class="columns is-multiline">
                        <div class="column is-6">
                            <div class="image-container">
                                <img onclick="window.open('/', '_self');" style="cursor: pointer;" src="{% static 'img/logo/adv-redplane-transparent.png' %}" alt="Adventora Logo">
                            </div>
                        </div>
                        <div class="column is-6">
                            <div class="image-container">
                                <img onclick="window.open({% if LANGUAGE_CODE == "bg" %}'https://toprentacar.bg/?partner=adventora'{% else %}'https://toprentacar.bg/en?partner=adventora'{% endif %}, '_blank');"
                                     style="cursor: pointer;" src="{% static 'img/logo/top-rent-a-car.png' %}"
                                     alt="Top Rent A Car Logo">
                            </div>
                        </div>

                    </div>
                    {% if LANGUAGE_CODE == "bg" %}
                        <a href="https://toprentacar.bg/?partner=adventora&channel=banner"><img style="width: 400px" src="https://toprentacar.bg/images/toprentacar-320x100-bg.png"
                                                                                                alt="Top-Rent-a-Car Banner"></a>
                    {% else %}
                        <a href="https://toprentacar.bg/en?partner=adventora&channel=banner"><img style="width: 400px" src="https://toprentacar.bg/images/toprentacar-320x100-en.png"
                                                                                                  alt="Top-Rent-a-Car Banner"></a>
                    {% endif %}
                </div>
            </section>
            <br>

            <p>&copy; 2024 Adventora International. {% trans "All Rights Reserved" %}</p>

            <a style="margin-right: 10px" href="/">{% trans "Homepage" %}</a>
            <a style="margin-right: 10px" href="/about-us">{% trans "About us" %}</a>
            <a style="margin-right: 10px" href="/privacy">{% trans "Privacy" %}</a>
            <a style="margin-right: 10px" href="/terms-of-use">{% trans "Terms of use" %}</a>
            <a style="margin-right: 10px" href="/contacts">{% trans "Contacts" %}</a>
            <a style="margin-right: 10px" href="/partnerships">{% trans "Partnerships" %}</a>
            <br>
            <a style="margin-right: 10px" href="/emergency-in-bg">{% trans "Emergency" %}</a>
            <a style="margin-right: 10px" href="/stranded-abroad">{% trans "Stranded Abroad" %}</a>

        </div>
    </div>
</footer>


<script src="https://unpkg.com/htmx.org@1.9.4"></script>
<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
<script src="{% static 'js/customcaptcha.js' %}"></script>
<script type="text/javascript" src="{% static 'hotel/js/main.min.js' %}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<script type="text/javascript" src="{% static 'hotel/js/chart.sample.min.js' %}"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@7.2.96/css/materialdesignicons.min.css">
</body>
</html>