<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load i18n %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Adventora</title>
    <meta name="title" content="Adventora"/>
    <meta name="description"
          content="Adventora is a booking website based, operated, and focused on Bulgarian tourism. You can book your vacation in Bulgaria right here and right now!"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://adventora.net"/>
    <meta property="og:title" content="Adventora"/>
    <meta property="og:description"
          content="Adventora is a booking website based, operated, and focused on Bulgarian tourism. You can book your vacation in Bulgaria right here and right now!"/>
    <meta property="og:image" content="https://metatags.io/images/meta-tags.png"/>
    <meta property="twitter:card" content="summary_large_image"/>
    <meta property="twitter:url" content="https://adventora.net"/>
    <meta property="twitter:title" content="Adventora"/>
    <meta property="twitter:description"
          content="Adventora is a booking website based, operated, and focused on Bulgarian tourism. You can book your vacation in Bulgaria right here and right now!"/>
    <meta property="twitter:image" content="https://metatags.io/images/meta-tags.png"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css"/>
    <script src="{% static 'js/main.js' %}"></script>
    <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <style>
        /* Custom styling for the footer */
        .footer {
            background-color: #f4f4f4;
            padding: 3rem 0;
        }

        .footer .content {
            margin-bottom: 1.5rem;
        }

        .footer p {
            margin-bottom: 1.5rem;
        }

        .footer .footer-links {
            margin-top: 1.5rem;
            display: flex;
            justify-content: center;
        }

        .footer-links a {
            color: #333;
            text-decoration: none;
            transition: color 0.3s ease;
            padding: 0.5rem 1rem;
        }

        .footer-links a:hover {
            color: #6a0dad;
        }

        .image-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100px; /* Adjust the height as needed */
            margin: 10px;
            padding-top: 0;
        }

        .section {
            padding-top: 0;
            padding-bottom: 0;
        }

        .image-container img {
            max-width: 100%;
            max-height: 100%;
            object-fit: contain;
        }

        #cke_id_description {
            width: 100% !important;
            max-width: 100% !important;
        }

        .django-ckeditor-widget {
            width: 100% !important;
            max-width: 100% !important;
        }
    </style>
</head>
<body>
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src="{% static 'img/logo/adv-redplane-transparent.png' %}" alt="Adventora logo">
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/">
                Home
            </a>


            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    More
                </a>

                <div class="navbar-dropdown">
                    <a class="navbar-item">
                        About
                    </a>
                    <a class="navbar-item">
                        Jobs
                    </a>
                    <a class="navbar-item">
                        Contact
                    </a>
                    <hr class="navbar-divider">
                    <a class="navbar-item">
                        Report an issue
                    </a>
                </div>
            </div>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    {#                    if authed#}
                    {% if user.is_authenticated %}
                        {% if user.is_staff == True %}
                            <a class="button is-warning" href="/admin">
                                <strong>Админ</strong>
                            </a>
                        {% endif %}
                        {% if user.role == "hotel_manager" %}
                            <a class="button is-primary" href="/hotel/dashboard">
                                <strong>{% trans "Panel" %}</strong>
                            </a>
                        {% endif %}
                        <a class="button is-info" href="{% url 'edit-profile' %}">
                            <strong>{% trans "Profile" %}</strong>
                        </a>
                        <a class="button is-danger" href="{% url 'logout' %}">
                            <strong>{% trans "Logout" %}</strong>
                        </a>
                    {% else %}

                        <a class="button is-primary" href="{% url 'sign-up' %}">
                            <strong>{% trans 'Sign up' %}</strong>
                        </a>
                        <a class="button is-light" href="{% url 'sign-in' %}">
                            {% trans "Login" %}
                        </a>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</nav>


{% if messages %}
    {% for message in messages %}

        {% if message.tags == 'error' %}
            <article class="message is-danger">
                <div class="message-header">
                    <p>{% trans "Error" %}</p>
                    {#                    on click delete the parent article#}
                    <button class="delete" aria-label="delete"
                            onclick="this.parentElement.parentElement.remove();"></button>
                </div>
                <div class="message-body">
                    {{ message }}
                </div>
            </article>
        {% elif message.tags == "success" %}
            <article class="message is-success">
                <div class="message-header">
                    <p>{% trans "Success" %}</p>
                    <button class="delete" aria-label="delete"
                            onclick="this.parentElement.parentElement.remove();"></button>
                </div>
                <div class="message-body">
                    {{ message }}
                </div>
            </article>
        {% elif message.tags == "warning" %}
            <article class="message is-warning">
                <div class="message-header">
                    <p>{% trans "Warning" %}</p>
                    <button class="delete" aria-label="delete"
                            onclick="this.parentElement.parentElement.remove();"></button>
                </div>
                <div class="message-body">
                    {{ message }}
                </div>
            </article>
        {% endif %}
    {% endfor %}

{% endif %}

<br><br>

<div class="container is-fluid" style="min-height: 100vh !important; margin-bottom: 50px">
    {% block content %} {% endblock %}
</div>


<footer class="footer is-fluid">
    <div class="container is-fluid">
        <div class="content has-text-centered is-fluid">

            <b><p>{% trans "Adventora supports small, medium and large businesses" %}</p></b>

            <br>


            <section class="section">
                <div class="container">
                    <div class="columns is-multiline">
                        <div class="column is-6">
                            <div class="image-container">
                                <img onclick="window.open('/', '_self');" style="cursor: pointer;" src="{% static 'img/logo/adv-redplane-transparent.png' %}" alt="Adventora Logo">
                            </div>
                        </div>
                        <div class="column is-6">
                            <div class="image-container">
                                <img onclick="window.open('https://toprentacar.bg/?partner=adventora', '_blank');" style="cursor: pointer;" src="{% static 'img/logo/top-rent-a-car.png' %}"
                                     alt="Top Rent A Car Logo">
                            </div>
                        </div>
                        <!-- Add more columns for additional images -->
                    </div>
                </div>
            </section>
            <br>

            <p>&copy; 2023 Adventora. {% trans "All Rights Reserved"%}</p>

            <a style="margin-right: 10px" href="/">{% trans "Homepage" %}</a>
            <a style="margin-right: 10px" href="/about-us">{% trans "About us" %}</a>
            <a style="margin-right: 10px" href="/privacy">{% trans "Privacy" %}</a>
            <a style="margin-right: 10px" href="/terms-of-use">{% trans "Terms of use" %}</a>
            <a style="margin-right: 10px" href="/contacts">{% trans "Contacts" %}</a>
            <a style="margin-right: 10px" href="/partnerships">{% trans "Partnerships" %}</a>
        </div>
    </div>
</footer>


<script src="https://unpkg.com/htmx.org@1.9.4"></script>
<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
<script src="{% static 'js/customcaptcha.js' %}"></script>
</body>
</html>