{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block content %}
    {% get_current_language as LANGUAGE_CODE %}
    {% get_available_languages as LANGUAGES %}
    {% get_language_info_list for LANGUAGES as languages %}

<style>
    body {
      background-color: #f8f8f8;
    }

    .images-container {
      margin-top: -80px;

    }

    .hero {
      background-image: url('hotel-image.jpg');
      background-size: cover;
      background-position: center;
      color: #fff;
      text-align: center;
      padding: 100px 0;
    }

    .hero h1 {
      font-size: 3em;
      margin-bottom: 20px;
    }

    .search-box {
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      padding: 20px;
    }

    .button.is-primary {
      background-color: #ff3860;
      border-color: #ff3860;
    }


    .tile-content {
      color: #fff;
      border-radius: 8px;
      overflow: hidden;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .tile-content h3 {
      font-size: 1.5em;
      margin-bottom: 10px;
      color: black;
    }

    .tile-content p {
      font-size: 1em;
      margin: 0;
      color: black;
    }

    .tile-section {
      margin-top: -150px;
    }

    .tile-container {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    .tile-child{
      height: 500px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url("https://bulma.io/images/placeholders/640x480.png");
    }
    @media (max-width: 768px){
      .tile-child{
        height: 400px;
      }
    }
  </style>


  <section class="hero is-medium is-primary" style="background-image: url('/static/img/logo/maxresdefault.png'); border-radius: 15px">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
         {% trans "Welcome to Adventora" %}
        </h1>
        <p class="subtitle">
          {% trans "Find your perfect stay with us" %}
        </p>
      </div>
    </div>
      <hr>
  <div class="level ">
    <div class="level-item has-text-centered">
      <div>
        <p class="heading is-size-2">{% trans "Registered hotels" %}</p>
        <p class="title is-size-1">XX</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading is-size-4">{% trans "Happy Customers" %}</p>
        <p class="title">XX</p>
      </div>
    </div>

    <div class="level-item has-text-centered">
      <div>
        <p class="heading is-size-4">{% trans "Total Reservations" %}</p>
        <p class="title">XX</p>
      </div>
    </div>
  </div>
</section>

  <script src="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.3/dist/js/bulma-carousel.min.js"></script>
  <script>
    // const carouselContainers = document.querySelectorAll(".carousel-item")

    // carouselContainers.forEach(container => {
    //   container.innerHTML = container.innerHTML + ` <figure class="image is-3by2">
    //         <img src="https://bulma.io/images/placeholders/256x256.png">
    //       </figure>`
    // })

    // bulmaCarousel.attach('#carousel-demo', {
    //   slidesToScroll: 1,
    //   slidesToShow: 1,
    //   loop: true,
    //   infinite: true,
    // });
  </script>



{% endblock %}
