{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="container is-fluid">
        <h1><strong>{% trans "Privacy Policy of Adventora" %}</strong></h1>
        <br>

        <p>{% trans "Last updated: August 13, 2023." %}</p>
        <br>

        <p>{% trans "This <strong>Privacy Policy ('Policy')</strong> explains how Adventora ('we', 'us', 'our') collects, uses, protects, and shares the personal information gathered from users ('you', 'your') of the website <strong>https://adventora.net</strong> ('Website'). This Policy highlights our commitment to data privacy, transparency, and compliance with relevant data protection laws and regulations." %}</p>
        <br>

        <h2><strong>{% trans "1. Information Collection" %}</strong></h2>
        <br>

        <p>{% trans "We collect a variety of personal data from users to ensure the smooth operation of our booking services. This includes, but is not limited to:" %}</p>

        <ul>
            <li>{% trans "First and last name" %}</li>
            <li>{% trans "Email address" %}</li>
            <li>{% trans "Username" %}</li>
            <li>{% trans "Phone numbers" %}</li>
            <li>{% trans "Citizenship" %}</li>
        </ul>
        <br>

        <p>{% trans "For individuals designated as 'hotel manager', we also collect:" %}</p>

        <ul>
            <li>{% trans "Hotel name" %}</li>
            <li>{% trans "Manager's name" %}</li>
            <li>{% trans "Unique identification number of the hotel's company (EIK)" %}</li>
            <li>{% trans "Hotel phone number" %}</li>
            <li>{% trans "Hotel email address" %}</li>
            <li>{% trans "Physical address of the hotel" %}</li>
        </ul>
        <br>

        <h2><strong>{% trans "2. Purpose and Use of Data" %}</strong></h2>
        <br>

        <p>{% trans "The collected personal information serves as a basis for smooth, secure, and efficient booking and reservations. Your data facilitate account management, responsive customer support, and critical communication. If identified as a hotel manager, certain details are shared with the establishment to optimize reservation monitoring." %}</p>
        <br>

        <h2><strong>{% trans "3. Engagement with Third-Party Services" %}</strong></h2>
        <br>

        <p>{% trans "To enhance the user experience and expand our offerings, we engage reputable third-party services, including, but not limited to:" %}</p>

        <ul>
            <li>{% trans "Google Analytics for detailed website analysis" %}</li>
            <li>{% trans "Top-Rent-A-Car for promotional banners, widgets, and joint promotions" %}</li>
            <li>{% trans "Social services for login, including Google, GitHub, Reddit, Spotify, Trello, Patreon, Steam, VK, and Amazon" %}</li>
            <li>{% trans "Payment processing through reputable providers like Stripe and epay.bg for secure financial transactions" %}</li>
        </ul>
        <br>

        <h2><strong>{% trans "4. Tracking Mechanisms and Cookies" %}</strong></h2>
        <br>

        <p>{% trans "Cookies serve as vital components of our digital architecture, contributing to the seamless retention of sessions and the preservation of data for personalization, such as theme settings and language preferences. In addition, certain third-party cookies may be used in conjunction with our respected partners." %}</p>
        <br>

        <h2><strong>{% trans "5. Data Retention Strategy" %}</strong></h2>
        <br>

        <p>{% trans "User personal data continue to be stored in our systems for the duration of an active account. An option for account deletion is provided, allowing for the voluntary removal of associated data. For hotel managers, data related to the establishment is stored for up to one year to comply with security protocols and possible legal regulations." %}</p>
        <br>

        <h2><strong>{% trans "6. Robust Security Framework" %}</strong></h2>
        <br>

        <p>{% trans "With the help of modern encryption protocols that include a 512-character encryption key, we impose strict measures to protect sensitive data. Data is stored on a remote database server located in the European Union, secured with the comprehensive security infrastructure provided by Amazon Web Services." %}</p>
        <br>

        <h2><strong>{% trans "7. Data Sharing and Collaborative Efforts" %}</strong></h2>
        <br>

        <p>{% trans "Certain user data, including email addresses, names, and contact numbers, are shared with hotels to facilitate effective reservation management. Beyond established partnerships, data sharing with external organizations is limited to data automatically collected by Google Analytics and Top-Rent-A-Car." %}</p>
        <br>

        <h2><strong>{% trans "8. Cross-Border Data Transfers" %}</strong></h2>
        <br>

        <p>{% trans "User personal data remain entirely within the European Union. In cases where your citizenship falls outside the EU, data may be transferred internationally for storage within the jurisdiction of the EU." %}</p>
        <br>

        <h2><strong>{% trans "9. Protection of Children's Personal Information" %}</strong></h2>
        <br>

        <p>{% trans "Adventora is entirely aimed at legal adults. Due to the mandatory nature of collecting personal data for reservation purposes and payment processing, the platform is not intended for minors. Exceptions may arise when legal adults provide information on minors within the context of their booked vacation." %}</p>
        <br>

        <h2><strong>{% trans "10. Notification of Policy Changes" %}</strong></h2>
        <br>

        <p>{% trans "Changes or modifications to this Policy will be communicated via email and will be clearly displayed on the Website." %}</p>
        <br>

        <h2><strong>{% trans "11. Legitimate Basis for Data Processing" %}</strong></h2>
        <br>

        <p>{% trans "The collection and processing of data are based on the mandatory execution of reservations and related reservation activities." %}</p>
        <br>

        <h2><strong>{% trans "12. Implied Consent" %}</strong></h2>
        <br>

        <p>{% trans "By using our platform and creating an account, you implicitly agree to the collection and processing of personal data, in accordance with this Policy." %}</p>
        <br>

        <h2><strong>{% trans "13. Compliance with Applicable Regulations" %}</strong></h2>
        <br>

        <p>{% trans "Our data processing procedures strictly adhere to the regulations and provisions set forth by the General Data Protection Regulation (GDPR)." %}</p>
        <br>

        <p>{% trans "For questions, clarifications, or requests related to your personal data and this Policy, we inform you that you can contact us via the following contact: <a href='mailto:support@adventora.net'>hello@adventora.net</a>." %}</p>

    </div>

{% endblock %}
