{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}


<div class="container is-fluid">
 <h1><strong>Политика за поверителност на Adventora</strong></h1>
<br>

<p>Последно актуализирано: 13.08.2023 г.</p>
<br>

<p>Тази <strong>Политика за поверителност ("Политика")</strong> обяснява начина, по който Adventora ("ние", "нас", "нашите") събира, използва, защитава и споделя личната информация, събрана от потребителите ("вие", "вашият") на уебсайта <strong>https://adventora.net</strong> ("Уебсайт"). Тази Политика подчертава нашата ангажираност към поверителността на данните, прозрачността и съответствието със съответните закони и регулации за защита на данните.</p>
<br>

<h2><strong>1. Събиране на информация</strong></h2>
<br>

<p>Събираме разнообразни лични данни от потребителите, за да осигурим гладко функциониране на нашите услуги за резервации. Това включва, но не се ограничава до:</p>

<ul>
    <li>Първо и последно име</li>
    <li>Имейл адрес</li>
    <li>Потребителско име</li>
    <li>Телефонни номера</li>
    <li>Гражданство</li>
</ul>
<br>

<p>За лицата с обозначение "мениджър на хотел", ние събираме също:</p>

<ul>
    <li>Име на хотела</li>
    <li>Име на мениджъра</li>
    <li>Уникален идентификационен номер на фирмата на хотела (ЕИК)</li>
    <li>Телефонен номер на хотела</li>
    <li>Имейл адрес на хотела</li>
    <li>Физически адрес на хотела</li>
</ul>
<br>

<h2><strong>2. Цел и използване на данни</strong></h2>
<br>

<p>Събраната лична информация служи като основа за гладко, сигурно и ефективно резервиране и резервации. Вашите данни облекчават управлението на акаунта, отзивчивата поддръжка на клиенти и критичната комуникация. Ако бъдете идентифицирани като мениджър на хотел, определени детайли се споделят със заведението, за да се оптимизира наблюдението на резервациите.</p>
<br>

<h2><strong>3. Ангажимент с услуги от трети страни</strong></h2>
<br>

<p>За да подобрим потребителското изживяване и разширим предложенията си, ние ангажираме уважавани услуги от трети страни, включително, но не само:</p>

<ul>
    <li>Google Analytics за подробен анализ на уебсайта</li>
    <li>Top-Rent-A-Car за промоционални банери, виджети и съвместни промоции</li>
    <li>Социални услуги за вход, включително Google, GitHub, Reddit, Spotify, Trello, Patreon, Steam, VK и Amazon</li>
    <li>Обработка на плащания чрез уважавани доставчици като Stripe и epay.bg за сигурни финансови транзакции</li>
</ul>
<br>

<h2><strong>4. Механизми за проследяване и бисквитки</strong></h2>
<br>

<p>Бисквитките служат като важни компоненти на нашата цифрова архитектура, които допринасят за безпроблемното задържане на сесиите и запазването на данни за персонализация, като настройки на темата и езикови настройки. Освен това, определени бисквитки от трети страни могат да бъдат използвани заедно с нашите уважавани партньори.</p>
<br>

<h2><strong>5. Стратегия за задържане на данни</strong></h2>
<br>

<p>Личните данни на потребителите продължават да бъдат съхранявани в нашите системи през срока на активен акаунт. Предоставя се опцията за изтриване на акаунта ви, което позволява доброволното премахване на свързаните данни. За хотелските мениджъри данните, свързани с етаблирането, се съхраняват до една година, за да се спазват сигурностните протоколи и възможни законови наредби.</p>
<br>

<h2><strong>6. Здрава рамка за сигурност</strong></h2>
<br>

<p>С помощта на съвременни протоколи за криптиране, които включват 512-знаков криптиращ ключ, ние налагаме стриктни мерки за защита на чувствителните данни. Данните се съхраняват на отдалечен сървър за бази данни, разположен в Европейския съюз, защитен с изчерпателната инфраструктура за сигурност, предоставена от Amazon Web Services.</p>
<br>

<h2><strong>7. Споделяне на данни и съвместни усилия</strong></h2>
<br>

<p>Определени данни на потребителите, включително имейл адреси, имена и контактни номера, се споделят с хотелите, за да се улесни ефективното управление на резервациите. Извън установените партньорства споделянето на данни с външни организации се ограничава до данни, които се събират автоматично от Google Analytics и Top-Rent-A-Car.</p>
<br>

<h2><strong>8. Трансгранични прехвърляния на данни</strong></h2>
<br>

<p>Личните данни на потребителите остават изцяло в рамките на Европейския съюз. В случаи, когато вашето гражданство не се пада в рамките на ЕС, данните могат да бъдат прехвърлени международно с цел съхранение в рамките на юрисдикцията на ЕС.</p>
<br>

<h2><strong>9. Запазване на личната информация на децата</strong></h2>
<br>

<p>Adventora е изцяло насочена към законните възрастни лица. Поради задължителния характер на събирането на лични данни за целите на резервациите и обработката на плащания, платформата не е предназначена за непълнолетни лица. Изключения може да възникнат, когато законните възрастни лица представят информация за непълнолетни лица в контекста на резервираната от тях ваканция.</p>
<br>

<h2><strong>10. Уведомление за изменения в политиката</strong></h2>
<br>

<p>Промени или модификации в тази Политика ще бъдат съобщени по имейл и ще бъдат ясно показвани на Уебсайта.</p>
<br>

<h2><strong>11. Легитимна основа за обработка на данни</strong></h2>
<br>

<p>Събирането и обработката на данни се основават на задължителното изпълнение на резервациите и свързаните с тях дейности за резервация.</p>
<br>

<h2><strong>12. Неявно съгласие</strong></h2>
<br>

<p>Използвайки нашата платформа и създавайки акаунт, вие неявно се съгласявате със събирането и обработката на лични данни, в съответствие с тази Политика.</p>
<br>

<h2><strong>13. Съответствие с приложимите регулации</strong></h2>
<br>

<p>Нашите процедури за обработка на данни стриктно се придържат към регулациите и разпоредбите, установени от Общия регламент за защита на данните (GDPR).</p>
<br>

<p>За въпроси, уточнения или искания, свързани с вашите лични данни и тази Политика, ви уведомяваме, че можете да се свържете с нас чрез следния контакт: <a href="mailto:support@adventora.net">hello@adventora.net</a>.</p>

</div>

{% endblock %}