{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}
<div class="columns is-centered">
<div class="column is-half">
    {% csrf_token %}
    {% crispy form %}



    <style>
        button {
            width: 100% !important;
            background-color: #ededed !important;
        }
    </style>

    <hr>

    {% if not request.get_host == "dev.adventora.net" %}
    <div class="columns is-multiline">
        <div class="column has-text-centered">
            <button onclick="window.location.href='{% url "social:begin" "google-oauth2" %}';" class="button is-rounded"
                    style="background-color: #d7d7d7">
                <img class="is-rounded" style="width: 20px; margin-right: 10px"
                     src="{% static 'img/oauth2/google.png' %}" alt="Google Logo">
                {% trans "Login with Google" %}
            </button><br>
            <button onclick="window.location.href='{% url "social:begin" "trello" %}';" class="button is-rounded"
                    style="margin-top:5px; width: 173px; background-color: #d7d7d7">
                <img class="is-rounded" style="width: 20px; margin-right: 10px"
                     src="{% static 'img/oauth2/trello.png' %}" alt="Trello Logo">
                {% trans "Login with Trello" %}
            </button>
        </div>
        <div class="column has-text-centered">
            <button onclick="window.location.href='{% url "social:begin" "github" %}';" class="button is-rounded"
                    style="background-color: #d7d7d7">
                <img class="is-rounded" style="width: 20px; margin-right: 10px"
                     src="{% static 'img/oauth2/github.png' %}" alt="GitHub Logo">
                {% trans "Login with GitHub" %}
            </button><br>
        </div>

        <div class="column has-text-centered">
            <button onclick="window.location.href='{% url "social:begin" "reddit" %}';" class="button is-rounded"
                    style="background-color: #d7d7d7">
                <img class="is-rounded" style="width: 20px; margin-right: 10px"
                     src="{% static 'img/oauth2/reddit.png' %}" alt="Reddit Logo">
                {% trans "Login with Reddit" %}
            </button><br>
            <button onclick="window.location.href='{% url "social:begin" "steam" %}';" class="button is-rounded"
                    style="margin-top:5px; width: 173px; background-color: #d7d7d7">
                <img class="is-rounded" style="width: 20px; margin-right: 10px"
                     src="{% static 'img/oauth2/steam.png' %}" alt="Steam Logo">
                {% trans "Login with Steam" %}
            </button>

        </div>
        <div class="column has-text-centered">
            <button onclick="window.location.href='{% url "social:begin" "spotify" %}';" class="button is-rounded"
                    style="background-color: #d7d7d7">
                <img class="is-rounded" style="width: 20px; margin-right: 10px"
                     src="{% static 'img/oauth2/spotify.png' %}" alt="Spotify Logo">
                {% trans "Login with Spotify." %}
            </button><br>
            <button onclick="window.location.href='{% url "social:begin" "vk-oauth2" %}';" class="button is-rounded"
                    style="margin-top:5px; width: 173px; background-color: #d7d7d7">
                <img class="is-rounded" style="width: 20px; margin-right: 10px"
                     src="{% static 'img/oauth2/vk.png' %}" alt="VK Logo">
                {% trans "Login with VK" %}
            </button>
        </div>
    </div>
    {% else %}
    <h2 class="title is-5">Социален вход е изключен в тестовия сървър. Използвайте 127.0.0.1 или adventora.net</h2>
    {% endif %}
</div>
</div>



{% endblock %}