{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block content %}


    <div class="has-text-centered">
        {% if hotel == None %}
            Нямате хотел.

            Регистрирайте нов тук: <a href="{% url 'register-hotel' %}">Регистрация</a>

        {% else %}

            {% if hotel.approved == True %}
                Вашият хотел очаква одобрение, това може да отнеме до 2 работни дни.<br<br>
                Ако желаете да промените данните за хотела си, моля свържете се с нас в страницата за <a href="{% url 'contact' %}">контакти</a>.
                {% else %}

            Имате хотел
            <br><br>
            <button class="button is-primary" onclick="window.location.href='/hotel/dashboard/{{ hotel.uid }}'">Детайли</button>
        {% endif %}
        {% endif %}
    </div>

{% endblock %}
