{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block content %}


    {#    <div class="has-text-centered">#}
    {#        {% if hotel == None %}#}
    {#            Нямате хотел.#}
    {##}
    {#            Регистрирайте нов тук: <a href="{% url 'register-hotel' %}">Регистрация</a>#}
    {##}
    {#        {% else %}#}
    {##}
    {#            {% if hotel.approved == True %}#}
    {#                Вашият хотел очаква одобрение, това може да отнеме до 2 работни дни.<br<br>#}
    {#                Ако желаете да промените данните за хотела си, моля свържете се с нас в страницата за <a href="{% url 'contact' %}">контакти</a>.#}
    {#                {% else %}#}
    {##}
    {#            Имате хотел#}
    {#            <br><br>#}
    {#            <button class="button is-primary" onclick="window.location.href='/hotel/dashboard/{{ hotel.uid }}'">Детайли</button>#}
    {#        {% endif %}#}
    {#        {% endif %}#}
    {#    </div>#}

    {% block addhead %}


    {% endblock %}

    <p style="display: none">
        {% block show %}true;{% endblock %}
    </p>

    <script>
        // add tags has-aside-left has-aside-mobile-transition has-navbar-fixed-top has-aside-expanded to html
        document.getElementsByTagName("html")[0].classList.add("has-aside-left", "has-aside-mobile-transition", "has-navbar-fixed-top", "has-aside-expanded");
    </script>
    <style>
        .container.is-fluid {
            padding: 0;
        }
    </style>
    <div id="app" style="padding-left: 15px; padding-right: 15px">

        {% include "hotel/hotel_base.html" %}
        <section class="section is-title-bar">
            <div class="level">
                <div class="level-left">
                    <div class="level-item">
                        <ul>
                            <li>{% trans "Admin" %}</li>
                            <li>{% trans "Dashboard" %}</li>
                        </ul>
                    </div>
                </div>
                <div class="level-right">
                    <div class="level-item">
                        <div class="buttons is-right">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="hero is-hero-bar">
            <div class="hero-body">
                <div class="level">
                    <div class="level-left">
                        <div class="level-item"><h1 class="title">
                            {% trans "Dashboard" %}
                        </h1></div>
                    </div>
                    <div class="level-right" style="display: none;">
                        <div class="level-item"></div>
                    </div>
                </div>
            </div>
        </section>
        {% if hotel %}
            {% if hotel.approved == True %}
                <section class="section is-main-section">
                    <div class="tile is-ancestor">
                        <div class="tile is-parent">
                            <div class="card tile is-child">
                                <div class="card-content">
                                    <div class="level is-mobile">
                                        <div class="level-item">
                                            <div class="is-widget-label"><h3 class="subtitle is-spaced">
                                                {% trans "Rooms" %}
                                            </h3>
                                                <h1 class="title">
                                                    {{ hotel.rooms.count | default:"0"}}
                                                </h1>
                                            </div>
                                        </div>
                                        <div class="level-item has-widget-icon">
                                            <div class="is-widget-icon"><span class="icon has-text-primary is-large"><i
                                                    class="mdi mdi-account-multiple mdi-48px"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tile is-parent">
                            <div class="card tile is-child">
                                <div class="card-content">
                                    <div class="level is-mobile">
                                        <div class="level-item">
                                            <div class="is-widget-label"><h3 class="subtitle is-spaced">
                                                {% trans "Reservations" %}
                                            </h3>
                                                <h1 class="title">
                                                    {{ hotel.reservations.count | default:"Не е налично" }}
                                                </h1>
                                            </div>
                                        </div>
                                        <div class="level-item has-widget-icon">
                                            <div class="is-widget-icon"><span class="icon has-text-success is-large"><i
                                                    class="mdi mdi-bed mdi-48px"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card has-table has-mobile-sort-spaced">
                        <header class="card-header">
                            <p class="card-header-title">
                                <span class="icon"><i class="mdi mdi-bed"></i></span>
                                {% trans "Rooms" %}&nbsp;&nbsp;<button onclick="window.location.href='/hotel/dashboard/{{ hotel.id }}/rooms/add'" class="button is-small is-primary" type="button">
                                                        <span class="icon"><i class="mdi mdi-plus"></i></span>
                                                    </button>
                            </p>
                            <a onclick="window.location.reload()" class="card-header-icon">
                                <span class="icon"><i class="mdi mdi-reload"></i></span>
                            </a>
                        </header>
                        <div class="card-content">
                            <div class="b-table has-pagination">
                                <div class="table-wrapper has-mobile-cards">
                                    <table class="table is-fullwidth is-striped is-hoverable is-sortable is-fullwidth">
                                        <thead>
                                        <tr>
                                            <th>№</th>
                                            <th>{% trans "Capacity" %}</th>
                                            <th>{% trans "Price" %} / {% trans "Night" %}</th>
                                            <th>{% trans "Occupied" %}</th>
                                            <th>{% trans "Status" %}</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for room in rooms %}
                                        <tr>
                                            <td data-label="Name">{{ room.number }}</td>
                                            <td data-label="Capacity">{{ room.capacity }}</td>
                                            <td data-label="Price">{{ room.price }} BGN</td>
                                            <td data-label="Occupied">{% if room.occupied == True %}Да{% else %}Не{% endif %}</td>
                                            <td data-label="Status">{% if room.status == "Available" %}
                                                        {% trans "Available" %}
                                                    {% elif room.status == "ForCleaning" %}
                                                        {% trans "To be cleaned" %}
                                                    {% elif room.status == "Occupied" %}
                                                        {% trans "Occupied" %}
                                                    {% else %}
                                                        Не е налично
                                                    {% endif %}</td>
                                            <td class="is-actions-cell">
                                                <div class="buttons is-right">
                                                    <button onclick="window.location.href='/hotel/dashboard/{{ hotel.id }}/rooms/{{ room.id }}'" class="button is-small is-primary" type="button">
                                                        <span class="icon"><i class="mdi mdi-eye"></i></span>
                                                    </button>
                                                </div>
                                            </td>

                                        </tr>
                                        {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            {% else %}
                <br><br><br>
                <div class="container is-fluid has-text-centered">
                    <h1 class="title is-1">{% trans "Your hotel is not yet approved. Allow us to confirm your info within 48 hours." %}</h1>
                </div>
            {% endif %}
        {% else %}
            <br><br><br>
            <div class="container is-fluid has-text-centered">
                <h1 class="title is-1">{% trans "You don't have a hotel" %}</h1>
                <br><br>
                <button class="button is-primary" onclick="window.location.href='{% url 'register-hotel' %}'">{% trans "Register Hotel" %}</button>
            </div>

        {% endif %}
    </div>


{% endblock %}
