{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
<script>

            function pageShown(evt){
                if (evt.persisted) {
                    // reload
                    console.log("pageshow event handler called.  The page was just restored from the Page Cache.");
                    window.location.reload();
                } else {
                    console.log("pageshow event handler called for the initial load.  This is the same as the load event.");
                }
            }

            function pageHidden(evt){
                if (evt.persisted) {
                    console.log("pagehide event handler called.  The page was suspended and placed into the Page Cache.");
                } else {
                    console.log("pagehide event handler called for page destruction.  This is the same as the unload event.");
                }
            }

            window.addEventListener("pageshow", pageShown, false);
            window.addEventListener("pagehide", pageHidden, false);

        </script>
            <style>
                #map_address {
                    width: 100% !important;
                    min-height: 400px;
                }

                .field {
                    margin-top: 30px !important;
                }

                #id_address_div_map {
                    width: 100% !important;
                }
                #id_address_map {
                    width: 100% !important;
                }
            </style>
<aside class="aside is-placed-left is-expanded">

            <div class="aside-tools">
                <div class="aside-tools-label">
                    {% if hotel and hotel.approved %}
                        {{ hotel.name }}
                    {% else %}
                        {% trans "You don't have a hotel" %}
                    {% endif %}
                </div>
            </div>
            <div class="menu is-menu-main">
                <p class="menu-label">{% trans "General Settings" %}</p>
                <ul class="menu-list">
                    <li>
                        <a href="{% url 'dashboard' %}" class="is-active router-link-active has-icon">
                            <span class="icon"><i class="mdi mdi-desktop-mac"></i></span>
                            <span class="menu-item-label">{% trans "Dashboard" %}</span>
                        </a>
                    </li>
                </ul>
                <p class="menu-label">{% trans "Management" %}</p>
                <ul class="menu-list">
                    <li>
                        <a href="/hotel/dashboard/info" class="has-icon">
                            <span class="icon"><span class="mdi mdi-account-box"></span></span>
                            <span class="menu-item-label">{% trans "Information" %}</span>
                        </a>
                    </li>
                    <li>
                        <a href="/hotel/dashboard/photos" class="has-icon">
                            <span class="icon"><span class="mdi mdi-camera"></span></span>
                            <span class="menu-item-label">{% trans "Photos" %}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </aside>