{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block content %}
    {% load hotel_filters %}


    {#    <div class="has-text-centered">#}
    {#        {% if hotel == None %}#}
    {#            Нямате хотел.#}
    {##}
    {#            Регистрирайте нов тук: <a href="{% url 'register-hotel' %}">Регистрация</a>#}
    {##}
    {#        {% else %}#}
    {##}
    {#            {% if hotel.approved == True %}#}
    {#                Вашият хотел очаква одобрение, това може да отнеме до 2 работни дни.<br<br>#}
    {#                Ако желаете да промените данните за хотела си, моля свържете се с нас в страницата за <a href="{% url 'contact' %}">контакти</a>.#}
    {#                {% else %}#}
    {##}
    {#            Имате хотел#}
    {#            <br><br>#}
    {#            <button class="button is-primary" onclick="window.location.href='/hotel/dashboard/{{ hotel.uid }}'">Детайли</button>#}
    {#        {% endif %}#}
    {#        {% endif %}#}
    {#    </div>#}

    {% block addhead %}


    {% endblock %}

    <p style="display: none">
        {% block show %}true;{% endblock %}
    </p>

    <script>
        // add tags has-aside-left has-aside-mobile-transition has-navbar-fixed-top has-aside-expanded to html
        document.getElementsByTagName("html")[0].classList.add("has-aside-left", "has-aside-mobile-transition", "has-navbar-fixed-top", "has-aside-expanded");
    </script>
    <style>
        .container.is-fluid {
            padding: 0;
        }
    </style>
    <div id="app" style="padding-left: 15px; padding-right: 15px">

        {% include "hotel/hotel_base.html" %}
        <section class="section is-title-bar">
            <div class="level">
                <div class="level-left">
                    <div class="level-item">
                        <ul>
                            <li>{% trans "Admin" %}</li>
                            <li>{% trans "Dashboard" %}</li>
                            <li>{% trans "Room" %}</li>
                            <li>{{ room.number }}</li>
                        </ul>
                    </div>
                </div>
                <div class="level-right">
                    <div class="level-item">
                        <div class="buttons is-right">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="hero is-hero-bar">
            <div class="hero-body">
                <div class="level">
                    <div class="level-left">
                        <div class="level-item">
                            <h1 class="title">
                                {% trans "Room" %} {{ room.number }} | {% trans "Set room as occupied" %}

                                &nbsp;

                            </h1>
                        </div>
                    </div>
                    <div class="level-right">
                        <div class="level-item">
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </section>
    {% if hotel %}
        {% if hotel.approved == True %}
            <section class="section is-main-section">
                <div class="tile is-ancestor">
                    <div class="tile is-parent">
                        <div class="card tile is-child">
                            <div class="card-content">
                                <div class="level is-mobile">
                                    <div class="level-item">
                                        <div class="is-widget-label"><h3 class="subtitle is-spaced">
                                            {% trans "Capacity" %}
                                        </h3>
                                            <h1 class="title">
                                                {{ room.capacity }}
                                            </h1>
                                        </div>
                                    </div>
                                    <div class="level-item has-widget-icon">
                                        <div class="is-widget-icon"><span class="icon has-text-primary is-large"><i
                                                class="mdi mdi-account-multiple mdi-48px"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tile is-parent">
                        <div class="card tile is-child">
                            <div class="card-content">
                                <div class="level is-mobile">
                                    <div class="level-item">
                                        <div class="is-widget-label"><h3 class="subtitle is-spaced">
                                            {% trans "Reservations" %}
                                        </h3>
                                            <h1 class="title">
                                                {{ reservations.count | default_if_none:"Грешка" }}
                                            </h1>
                                        </div>
                                    </div>
                                    <div class="level-item has-widget-icon">
                                        <div class="is-widget-icon"><span class="icon has-text-success is-large"><i
                                                class="mdi mdi-bed mdi-48px"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tile is-parent">
                        <div class="card tile is-child">
                            <div class="card-content">
                                <div class="level is-mobile">
                                    <div class="level-item">
                                        <div class="is-widget-label"><h3 class="subtitle is-spaced">
                                            {% trans "Status" %}
                                        </h3>
                                            <h1 class="title">
                                                {% if room.status == "Available" %}
                                                    {% trans "Available" %}
                                                {% elif room.status == "ForCleaning" %}
                                                    {% trans "To be cleaned" %}
                                                {% elif room.status == "Occupied" %}
                                                    {% trans "Occupied" %}
                                                {% else %}
                                                    Не е налично
                                                {% endif %}
                                            </h1>
                                        </div>
                                    </div>
                                    <div class="level-item has-widget-icon">
                                        <div class="is-widget-icon"><span class="icon has-text-primary is-large"><i
                                                class="mdi mdi-account-multiple mdi-48px"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card has-mobile-sort-spaced">
                    <div class="card-content">
                        <div class="columns has-text-centered">
                            <div class="column is-half">
                                <div class="card">
                                    <div class="card-header has-text-centered" style="display: block !important;">
                                        <center><h4 class="card-header-title is-title is-size-4 is-centered has-text-centered"><b>{% trans "Select from reservations for room" %} {{ room.number }}</b>
                                        </h4></center>
                                    </div>
                                    <div class="card-body">
                                        <br>
                                        {% if reservations.count <= 0 %}
                                            {% trans "No reservations for this room" %}
                                        {% else %}
                                            <script>
                                                function showmodal(id) {
                                                    var modal = document.getElementById("modal-" + id);
                                                    modal.classList.add("is-active");
                                                }

                                                function hidemodal(id) {
                                                    var modal = document.getElementById("modal-" + id);
                                                    modal.classList.remove("is-active");
                                                }

                                                function occupy_reservation(id) {
                                                    let yesbutton = document.getElementById("yesbutton-" + id);
                                                    let nobutton = document.getElementById("nobutton-" + id);
                                                    yesbutton.classList.add("is-loading");
                                                    nobutton.disabled = true
                                                    setTimeout(function () {
                                                        window.location.href = "/hotel/dashboard/{{ hotel.id }}/rooms/{{ room.id }}/occupy/" + id;
                                                    }, 1500);
                                                }
                                            </script>
                                            {% for reservation in reservations %}
                                                <div class="card">
                                                    <div class="card-header" style="display: block !important;">
                                                        <h6 class="is-centered has-text-centered is-title is-size-6 card-header-title">{% trans "Reservation" %} #{{ reservation.id }} -&nbsp;<button
                                                                class="button is-primary modal-button" onclick="showmodal('{{ reservation.id }}')"> {% trans "Select" %}</button>
                                                        </h6>
                                                    </div>
                                                </div>
                                                <div id="modal-{{ reservation.id }}" class="modal">
                                                    <div class="modal-background"></div>
                                                    <div class="modal-content">
                                                        <div class="box">
                                                            <article class="media">
                                                                <div class="media-left">
                                                                </div>
                                                                <div class="media-content">
                                                                    <div class="content">
                                                                        <p style="text-align: left">
                                                                            <span style="text-align: center !important;"> <strong>{% trans "Reservation" %} #{{ reservation.id }}</strong></span>
                                                                            <br>
                                                                            <br>
                                                                            Бъдете сигурни, че сте избрали правилната резервация.
                                                                            <ul>
                                                                        <li>Проверете внимателно датите и броя на гостите.</li>
                                                                           <li>Проверете внимателно дали # на резервацията съвпада с тази на клиента.</li>
                                                                        </ul>

                                                                            Сигурни ли сте, че искате да изберете тази резервация?<br><br>
                                                                            <button class="button is-primary" id="yesbutton-{{ reservation.id }}" onclick="occupy_reservation('{{ reservation.id }}')">Да</button>
                                                                            <button class="button is-danger" id="nobutton-{{ reservation.id }}" onclick="hidemodal('{{ reservation.id }}')">Не</button>

                                                                        </p>
                                                                    </div>
                                                                    <nav class="level is-mobile">
                                                                        <div class="level-left">
                                                                            <a class="level-item" aria-label="retweet">
                                                                            </a>
                                                                        </div>
                                                                    </nav>
                                                                </div>
                                                            </article>
                                                        </div>
                                                    </div>
                                                    <button class="modal-close is-large" aria-label="close" onclick="hidemodal('{{ reservation.id }}')"></button>
                                                </div>
                                            {% endfor %}

                                        {% endif %}
                                        <br>
                                        <br>
                                    </div>
                                </div>

                            </div>
                            <div class="column is-half">
                                <div class="card">
                                    <div class="card-header has-text-centered" style="display: block !important;">
                                        <center><h4 class="card-header-title is-title is-size-4 is-centered has-text-centered"><b>{% trans "Custom Customer" %}</b>
                                        </h4></center>
                                    </div>
                                    <div class="card-body">


                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </section>
        {% else %}
            <br><br><br>
            <div class="container is-fluid has-text-centered">
                <h1 class="title is-1">{% trans "Your hotel is not yet approved. Allow us to confirm your info within 48 hours." %}</h1>
            </div>
        {% endif %}
    {% else %}
        <br><br><br>
        <div class="container is-fluid has-text-centered">
            <h1 class="title is-1">{% trans "You don't have a hotel" %}</h1>
            <br><br>
            <button class="button is-primary" onclick="window.location.href='{% url 'register-hotel' %}'">{% trans "Register Hotel" %}</button>
        </div>

    {% endif %}
    </div>


{% endblock %}
